<div class="card comment">
    <a href="/post/{{id}}">
        <div class="card-header">
            <h4>Posted by {{User.username}} on {{date}}</h4>
        </div>
        <div class="card-body">
            <p class="card-text">{{content}}</p>
        </div>
    </a>
</div>