<nav class="hanken">
  <a href="/" id="logo"><img
      src="/images/logo.png"
      alt="VectorSpace Logo"
    /></a>
  <div>
    <div class="hidden" id="hamburger-menu-outer">
      <label class="hamburger-menu">
        <input type="checkbox" />
      </label>
    </div>
    <div id="regular-nav">
      <a href="/feed">Feed</a>
      {{#if signedIn}}
        <a href="/dashboard/{{username}}">Dashboard</a>
        <a href="/logout" class="borders" id="logout">Logout</a>
        {{! JAVASCRIPT }}
        <script src="/js/logout.js"></script>
      {{else}}
        <a href="/login">Dashboard</a>
        <a href="/login" class="borders" id="login">Login</a>
      {{/if}}
    </div>
  </div>
</nav>

{{! HAMBURGER MENU }}
<div class="hidden fade-in-quick hanken" id="hamburger-nav">
  <div id="hamburger-nav-inner">
    <a href="/feed">Feed</a>
    {{#if signedIn}}
      <a href="/dashboard/{{username}}">Dashboard</a>
      <a href="/logout" class="borders" id="logout">Logout</a>
    {{else}}
      <a href="/login">Dashboard</a>
      <a href="/login" class="borders" id="login">Login</a>
    {{/if}}
  </div>
</div>