<html lang="en-US">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>VectorSpace</title>
    <link rel="icon" href="images/logo.png" />

    {{! ICONS }}
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    {{! FONTS }}
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />

    {{! STYLES }}
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <nav class="hanken">
      <a href="/" id="logo"><img
          src="/images/logo.png"
          alt="VectorSpace Logo"
        /></a>
      <div>
        <a href="/">Home</a>
        <a href="/feed">Feed</a>
        <a href="/dashboard">Dashboard</a>
        {{#if signedIn}}
          <a href="/logout" class="borders" id="logout">Logout</a>
        {{else}}
          <a href="/login" class="borders" id="login">Login</a>
        {{/if}}
      </div>
    </nav>

    <main>
      {{{body}}}
    </main>

    <footer id="contact">
      <a href="https://www.linkedin.com/in/gcbelanger/" target="_blank"><i
          class="fa fa-linkedin"
          style="font-size:24px"
        ></i></a>
      <a href="https://github.com/gcbel" target="_blank"><i
          class="fa fa-github"
          style="font-size:24px"
        ></i></a>
    </footer>

    {{! JAVASCRIPT }}
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
    <script src="./assets/js/script.js"></script>
  </body>
</html>