<h2 class="page-title">Dashboard</h2>

<section class="borders" id="add-section">
  <p>New post</p>
</section>

{{!-- <section>
  {{#each post as |post|}}
  {{> post-details}}
  {{/each}}
</section> --}}