<div class="page">
  <h2 class="page-title manrope">Dashboard</h2>

  <div class="hanken">
    <div id="new-post-outer">
      <section class="full-border" id="new-post">
        <p id="plus"><i class="fa-solid fa-plus"></i> New post</p>
      </section>
    </div>

    <section class="posts">
      {{#each posts as |post|}}
      {{> post-details post=post}}
      {{/each}}
    </section>
</div>

<div class="hidden hanken" id="new-post-section">
  <section class="modal-look posts fade-in-quick" id="new-post-section-inner">
    <div id="title-and-x">
      <p>Title:</p>
      <i class="fa-solid fa-x" id="x-out"></i>
    </div>
    <p class="hidden post-alert" id="post-title-alert">Please enter
      a title for your post</p>
    <input
      type="text"
      id="post-title"
      name="post-title"
    />
    <p id="new-post-content">Content:</p>
    <p class="hidden post-alert" id="post-content-alert">Please enter
      content for your post</p>
    <input
      type="text"
      id="post-content"
      name="post-content"
    />
    <p class="hidden post-alert" id="post-alert">Sorry, we weren't able to create that post. Try again later!
  </p>
    <button id="post-new-post-button">Post</button>
  </section>
</div>

{{! JAVASCRIPT }}
<script src="/js/new-post.js"></script>