<video autoplay muted loop id="homepage-video">
  <source
    src="/images/background.mp4"
    type="video/mp4"
    alt="Loop of messages being sent across the world"
  />
</video>

<div id="homepage-content">
  <h1 class="manrope page-title" id="homepage-title">VectorSpace</h1>
  <h2 class="hanken page-subtitle" id="homepage-subtitle">Where ideas connect</h2>
</div>