<div class="hanken" id="login-page">
  <div id="signin-signup-menu">
    <button class="borders hover" id="sign-in-menu">Sign in</button>
    <button class="borders hover" id="sign-up-menu">Sign up</button>
  </div>

  <div class="inter" id="signup-signin-box">
    <section class="light-background" id="sign-in">
      <p>Username:</p>
      <p class="hidden signin-alert" id="signin-user-alert">Please enter your
        username</p>
      <input
        type="text"
        class="borders"
        id="sign-in-user"
        name="sign-in-user"
      />
      <p>Password:</p>
      <p class="hidden signin-alert" id="signin-password-alert">Please enter
        your password</p>
      <input
        type="password"
        class="borders"
        id="sign-in-password"
        name="sign-in-password"
      />
      <p class="hidden signin-alert-important" id="signin-alert">Sorry, the
        email or password you entered does not match any existing account.
        Please try again!
      </p>
      <button class="borders" id="sign-in-button">Sign in</button>
    </section>

    <section class="light-background hidden" id="sign-up">
      <p>First name:</p>
      <p class="hidden signin-alert" id="signup-first-alert">Please enter your
        first name</p>
      <input
        type="text"
        class="borders"
        id="sign-up-first"
        name="sign-up-first"
      />
      <p>Last name:</p>
      <p class="hidden signin-alert" id="signup-last-alert">Please enter your
        last name</p>
      <input
        type="text"
        class="borders"
        id="sign-up-last"
        name="sign-up-last"
      />
      <p>Username:</p>
      <p class="hidden signin-alert" id="signup-user-alert-1">
        Username must be more than 5 letters</p>
      <p class="hidden signin-alert" id="signup-user-alert-2">
        Username is taken, please try again</p>
      <input
        type="text"
        class="borders"
        id="sign-up-user"
        name="sign-up-user"
      />
      <p>Email:</p>
      <p class="hidden signin-alert" id="signup-email-alert-1">Please enter a
        valid email</p>
      <p class="hidden signin-alert" id="signup-email-alert-2">
        Email is already registered with an account</p>
      <input
        type="text"
        class="borders"
        id="sign-up-email"
        name="sign-up-email"
      />
      <p>Password:</p>
      <p class="hidden signin-alert" id="signup-password-alert">Please enter a
        password longer than 8 characters</p>
      <input
        type="password"
        class="borders"
        id="sign-up-password"
        name="sign-up-password"
      />
      <button class="borders" id="sign-up-button">Sign Up</button>
      <p class="hidden signin-alert-important" id="signup-alert">Sorry, we were
        unable to create your account. Please try again.
      </p>
    </section>

    <a href="/auth/google" id="google-auth">
      <p class="full-border" id="google-auth-inner">
        <i class="fa-brands fa-google"></i>
        Continue with Google
      </p>
    </a>
  </div>
</div>

{{! JAVASCRIPT }}
<script src="/js/login.js"></script>