/* STYLE CLASSES */
.borders {
  border: 1px solid var(--text-color);
  border-radius: 15px;
  padding: 6px 12px 6px 12px;
}

.borders:hover {
  border: 1px solid var(--hover);
}

/* HOVER */
nav a:hover,
footer a:hover {
  color: var(--hover);
}

/* HIDE */
.hidden {
  display: none;
}

/* FADE IN */
.fade-in {
  animation: fadeIn 1s ease-in-out forwards;
}

.fade-in-quick {
  animation: fadeIn 0.5s ease-in-out forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
