/* STYLE CLASSES */
.borders {
  border: 1px solid var(--text-color);
  border-radius: 15px;
  padding: 6px 12px 6px 12px;
  background-color: var(--clear);
}

.borders:hover {
  border: 1px solid var(--hover);
}

.page {
  margin: 0px 8vw 50px 8vw;
}

.page-title,
.page-subtitle {
  text-align: center;
}

.page-title {
  font-size: calc(2vw + 20px);
}

.page-subtitle {
  font-size: calc(1.2vw + 20px);
}

/* HOVER */
nav a:hover,
footer a:hover,
#hamburger-nav-inner a:hover {
  color: var(--hover);
}

/* HIDE */
.hidden {
  display: none;
}

/* FADE IN */
.fade-in {
  animation: fadeIn 1s ease-in-out forwards;
}

.fade-in-quick {
  animation: fadeIn 0.5s ease-in-out forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
