/* "NEW" BUTTONS */
#new-post-outer,
#new-comment-outer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
}

#new-post-outer {
  top: 20;
  margin-top: 10px;
}

#new-comment-outer {
  top: -20;
}

#new-post,
#new-comment {
  padding: 16px 20px 16px 20px;
  display: flex;
  justify-content: center;
  font-size: 22px;
  z-index: 0;
}

#new-post {
  width: 170px;
}

#new-comment {
  width: 220px;
}

/* NEW POST/COMMENT SECTION */
#new-post-section,
#new-comment-section {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: var(--background-clear);
  z-index: 1;
  min-width: 300px;
}

#new-post-section-inner,
#new-comment-section-inner {
  padding: 16px 20px 16px 20px;
  font-size: 22px;
  margin-top: 20px;
}

#title-and-x {
  display: flex;
  justify-content: space-between;
  margin: 0px 0px 6px 0px;
}

#new-post-content {
  margin: 6px 0px 6px 0px;
}

.post-alert,
.comment-alert {
  font-size: 16px;
  color: var(--modal-hover);
  margin-bottom: 8px;
}

#x-out:hover {
  color: var(--modal-hover);
}

#post-new-post-button,
#post-new-comment-button {
  margin-top: 8px;
  padding: 6px 12px 6px 12px;
  font-size: 22px;
  color: var(--background);
  border-radius: 15px;
  border: 1px solid var(--background);
  background-color: var(--clear);
}

#post-new-post-button:hover,
#post-new-comment-button:hover {
  color: var(--modal-hover);
  border: 1px solid var(--modal-hover);
}

#new-post-section input,
#new-comment-section input {
  border: 1px solid var(--background);
  border-radius: 15px;
  color: var(--background-clear);
  padding: 4px;
  width: 98%;
  font-size: 22px;
}

/* MOBILE */
@media (min-width: 480px) {
  #new-post-section-inner {
    width: 90%;
  }
}

/* TABLETS */
@media (min-width: 768px) {
  #new-post-section-inner {
    width: 75%;
  }
}

/* DESKTOP */
@media (min-width: 1024px) {
  #new-post-section-inner {
    width: 68%;
  }
}
