/* POSTS */
.posts {
  margin: 40px 5vw 60px 5vw;
  min-width: 275px;
}

.posts a {
  text-decoration: none;
}

.post,
.post-page,
.comment {
  padding: 16px 20px 16px 20px;
}

.post {
  margin: 0px 0px 20px 0px;
}

.post-page {
  border: 1px solid var(--text-color);
  border-radius: 15px;
  background-color: var(--clear);
}

.post h3,
.post-page h3 {
  color: var(--accent-text);
  font-size: 24px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  margin: 0px 6px 0px 0px;
}

.post h4,
.post-page h4 {
  margin-top: 5px;
  color: var(--modal-hover);
  font-size: 18px;
}

.post-body p {
  color: var(--text-color);
  font-size: 20px;
  font-weight: 300;
  margin-right: 10px;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.post-body-icons {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-content: flex-start;
}

.post-body i {
  margin: 3px 0px 3px 6px;
}

.post-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 10px;
  flex-wrap: wrap;
}

.post-body {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

#post-username {
  color: var(--text-color);
}

.post-comment-number {
  padding: 8px 12px 8px 12px;
  margin-top: 10px;
}

.post-comment-number p {
  color: var(--text-color);
  font-size: 18px;
}

.post:hover h3,
.post:hover .post-body p {
  color: var(--hover);
}

/* COMMENTS */
.comment {
  margin: 20px 0px 0px 15vw;
}

.comment-header {
  display: flex;
  justify-content: flex-end;
}

.comment-body {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.comment h3 {
  color: var(--accent-text);
  font-size: 24px;
}

.comment h4 {
  color: var(--modal-hover);
  font-size: 18px;
}

.comment p {
  color: var(--text-color);
  font-size: 20px;
  font-weight: 300;
  margin-top: 8px;
}

.comment i {
  margin: 0px 0px 0px 8px;
}

/* MOBILE */
@media (min-width: 480px) {
  .posts {
    margin: 40px 8vw 60px 8vw;
  }
}

/* TABLETS */
@media (min-width: 768px) {
  .posts {
    margin: 40px 12vw 60px 12vw;
  }
}

/* DESKTOP */
@media (min-width: 1024px) {
  .posts {
    margin: 40px 20vw 60px 20vw;
  }
}
