/* POSTS */
.posts {
  margin: 40px 5vw 60px 5vw;
}

.posts a {
  text-decoration: none;
}

.post {
  padding: 16px 20px 16px 20px;
}

.post h3 {
  color: var(--accent-text);
  font-size: 24px;
}

.post:hover h3,
.post:hover .post-body p {
  color: var(--hover);
}

.post h4 {
  color: var(--hover);
  font-size: 18px;
}

.post-body p {
  color: var(--text-color);
  font-size: 20px;
  font-weight: 300;
}

.post-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 10px;
}

#post-username {
  color: var(--accent-text);
}

.post-comment-number {
  padding: 8px 12px 8px 12px;
  margin-top: 10px;
}

.post-comment-number p {
  color: var(--text-color);
  font-size: 18px;
}

/* MOBILE */
@media (min-width: 480px) {
  .posts {
    margin: 40px 8vw 60px 8vw;
  }
}

/* TABLETS */
@media (min-width: 768px) {
  .posts {
    margin: 40px 12vw 60px 12vw;
  }
}

/* DESKTOP */
@media (min-width: 1024px) {
  .posts {
    margin: 40px 20vw 60px 20vw;
  }
}
