/* GENERAL */
:root {
  --background: #011322;
  --background-clear: #021627ca;
  --text-color: #ffffff;
  --light-accent: #184063;
  --accent: #0d3252;
  --clear: #ffffff00;
  --modal-hover: #668eb3;
  --hover: #95b6d8;
  --accent-text: #b6cfe7;
  --accent-background: #84add3;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  color: var(--text-color);
  background-color: var(--background);
}

/* FONTS */
.hanken {
  font-family: "Hanken Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.manrope {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* TEXT */
nav a,
footer a,
#google-auth a {
  color: var(--text-color);
  text-decoration: none;
}

/* FOOTER */
footer {
  position: fixed;
  bottom: 26px;
  right: 24px;
  z-index: 1;
}

footer a {
  padding: 0px 0px 6px 0px;
  margin: 0px 6px 0px 6px;
}

/* HOME */
#homepage-video {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 45%;
  object-fit: cover;
  min-width: 300px;
}

#homepage-content {
  min-width: 300px;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#homepage-title {
  font-size: calc(6vw + 28px);
  font-weight: 300;
  margin: 0px;
  font-weight: 500;
  letter-spacing: -4px;
}

#homepage-subtitle {
  font-weight: 400;
  position: relative;
  margin: 10px 0px 0px 0px;
  font-size: calc(2vw + 22px);
  z-index: -1;
}
